<div class="page">
<h1>{{page_title}}</h1>

<div class="chart-container" id="containerCO2" data-source="{{co2_url}}"></div>

<div class="chart-container" id="containerTemp" data-source="{{temp_url}}"></div>

</div>