[Unit]
Description=Visualize Environment
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/envvis
EnvironmentFile=/etc/envvis.env
ExecStart=/usr/bin/node lib/server.js
Restart=always
RestartSec=500ms
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=envvis

[Install]
WantedBy=multi-user.target
